<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link href="/css/template.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrap d-flex flex-row align-items-center pt-10">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <span class="display-1 d-block">Oops!</span>
            <div class="alert alert-danger"><%= data %></div>
            <a href="/" class="btn btn-outline-primary">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
